.Author__thumbnail__box{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.Author__thumbnail__dp{
  width: 2rem ;
  height: 2rem;
  border-radius: 50%;
  border:solid 1px;
  background-color: #eeeeee;
  margin: 0 0.5rem;
}
.Author__thumbnail__name{
  color:#2980b9;
}
