body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
*, *:after, *:before {
  box-sizing: border-box;
}
*:focus{
  outline: none;
}
input{
  border-radius: 0;
  border: solid 1px #e3e3e3;
}
button{
  cursor: pointer;
  border:none;
  background: inherit;
}
button:hover, button:active, button:focus{
  outline: none;
}
ul, li{
  padding: 0;
  list-style-type: none;
}
a{
  text-decoration: none;
  cursor: pointer;
}
select{
  border-radius: 0;
}
