.Tag__box{
  display: inline-flex;
  background-color: #eeeeee;
  margin: 0.2rem;
  padding: 0.3rem;
  align-items: baseline;
}
.Tag__icon{
  color:#bdc3c7;
  margin-right: 0.3rem;
}
.Tag__label{
  color: #34495e;
}
