.test{
  min-height: 20vh;
  min-width: 100%;
}
.CreateTrip__box{
  display: flex;
  flex-flow: column wrap;
}
.CreateTrip__publishBtn {
  display: flex;
  margin: auto;
  align-items: center;
  padding: 2rem 2rem 1rem 2rem;
}
.CreateTrip__header{
  padding: 0.3rem 4rem;
  align-items: center;
  margin-bottom: 2rem;
}
.CreateTrip__cover{
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.CreateTrip__body{
  padding: 2rem;
}
.CreateTrip__title, .ant-typography-edit-content{
  text-align: center;
  margin:2rem 2rem 1rem 2rem;
  font-size: 1.2rem;
}
.CreateTrip__header__input{
  border: 0;
  width: 100% !important;
  font-size: 1.2rem;
  text-align: center;
  margin: 0.5rem 0 2rem 0;
}
.CreateTrip__header__inputGroups{
  display: flex;
  flex-flow: column wrap;
  margin: auto;
}

.CreateTrip__header__input:focus{
  outline: none;
  border-bottom: solid 2px #1abc9c;
}
.CreateTrip__header__btnGrp{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 0.3rem;
}
.CreateTrip__header__btnGrp__btn{
  flex: 1;
  padding: 1rem;
  text-align: center;
  margin: 0 0.5rem;
  color:#2c3e50;
}
.CreateTrip__header__btnGrp__btn:hover{
  color: #c0392b;
  border-radius: 1rem;
}
.CreateTrip__header__btnGrp__btn__icon{
  margin-bottom: 0.8rem;
}
.CreateTrip__cover__label--big{
  font-size: larger;
  font-weight: bold;
}
.CreateTrip__cover__img{
  width: 100%;
  height: 17rem;
  object-fit: cover;
}
.CreateTrip__cover__uploadBtn{
  margin-top: -8rem;
  /*
  To avoid flexbox adjusting its height based on position of the last element
  we can give the same margin at the bottom
  */
  margin-bottom: 8rem;
}
.CreateTrip__cover__uploadBtn__btn{
  padding: 0.6rem;
  font-size: 1.3rem;
  color:white;
}
.CreateTrip__cover__uploadBtn__label{
  color:white;
}
/*large screens*/
@media only screen  and (min-width : 1224px) {
  .CreateTrip__body{
    padding: 0 4rem 5rem 4rem;
  }
  .CreateTrip__header__input{
    width: 70%;
  }
  .CreateTrip__header__btnGrp__btn{
    flex:0;
  }
  .CreateTrip__cover__img{
    height: 25rem;
  }
  .CreateTrip__cover__uploadBtn{
    margin-top: -12.5rem;
    margin-bottom: 12.5rem;
  }
  .CreateTrip__cover__uploadBtn__btn{
    padding: 1.5rem;
    font-size: 2rem;
  }
  .CreateTrip__cover__uploadBtn__label{
    font-size: 1.4rem;
  }
}


.CreateTrip__story{
  border: solid 1px #e3e3e3;
}
.ScrollUp-btn{
  background: #1abc9c;
  color:white;
  width: 6rem;
  height: 3rem;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}