.StoryForm__wrapper{
  display: flex;
  flex-flow: column;
  margin-top:2rem;
}
.StoryForm__button{
  display: flex;
  margin: auto;
  margin-top: 1rem;
}
.StoryOutline__form{
  border:solid 1px #e3e3e3;
  padding: 3rem;
  display: flex;
  flex-flow: row;
  margin-top: 1rem; 
}
.Story__form{
  flex: 90%;
}
