.Location__thumbnail__box{
}
.Location__thumbnail__primary{
  margin-left: 0.5rem;
}
.Location__thumbnail__sub{
  margin-top: 0.5rem;
}
.Location__thumbnail__sub__item{
  margin: 0 0.31rem;
  font-size: small;
  letter-spacing: 1px;
}
