.TripThumbnail__header{
  display: flex;
  flex-flow: row wrap;
}
.TripThumbnail__cover{
  width: 100%;
  height: 14rem;
  object-fit: cover;
}
.TripThumbnail__desc{
  display: flex;
  flex-flow: column wrap;
}
.TripThumbnail__header__item{
  padding: 0.51rem;
  font-size: smaller;
  align-self: center;
}
.TripThumbnail__desc__item{
}
/*overriding styles*/
.TripThumbnail__header__author{

}
.TripThumbnail__header__timestamp{

}
.TripThumbnail__header__dataIcons{
  margin-left: auto;
}

.TripThumbnail__desc__heading{
  padding: 1rem;
  font-size: large;
  font-weight: 600;
  color:#34495e;
}
.TripThumbnail__desc__location{
  padding: 1rem;
}
.TripThumbnail__desc__tags{
  margin-left: auto;
  padding: 0.5rem 0.6rem 2rem 0;
}
