.TabList__tab{
  margin: 0 1rem;
  text-decoration: none;
  color:#34495e;
}
.TabList__tab--dot{
  width:5px;
  height: 5px;
  background-color: #e74c3c;
  border-radius: 5%;
  margin: 10% 50% 0 50%;
}
.TabList__tab--active{
  color: #2980b9;
}
