.flex-row--wrap{
  display: flex;
  flex-flow: row wrap;
}
.flex-row--nowrap{
  display: flex;
  flex-flow: row nowrap;
}
.flex-col--wrap{
  display: flex;
  flex-flow: column wrap;
}
.flex-col--nowrap{
  display: flex;
  flex-flow: column nowrap;
}
/*default is stretch*/
.flex-align--center{
  align-items: center;
}
.flex-align--end{
  align-items: flex-end;
}
.flex-align--base{
  align-items: baseline;
}
.flex-self--center{
  align-self: center;
}
.flex-self--end{
  align-self: flex-end;
}
.flex-self--base{
  align-self: baseline;
}
.flex-push--center{
  margin: auto;
}
.flex-push--down{
  margin-top: auto;
}
.flex-push--up{
  margin-bottom: auto;
}
.flex-push--left{
  margin-right: auto;
}
.flex-push--right{
  margin-left: auto;
}
.flex-spread--equal{
  flex:1;
  /*equivalent to flex:1 1 0*/
}
.ta-center{
  text-align: center;
}
.color--light-gray{
  color:#bdc3c7;
}
.color--dark-gray{
  color:#95989A;
}
.color--blue{
  color: #2980b9;
}
.color--orange{
  color:#e67e22;
}
.bg--light-gray{
  background-color:#bdc3c7;
}
.bg--dark-gray{
  background-color:#95989A;
}
.bg--blue{
  background-color: #2980b9;
}
.bg--orange{
  background-color: #e67e22;
}
.icon--med{
  font-size: 1.7rem;
}
.icon--sm{
  font-size: 1.2rem;
}
.icon--lg{
  font-size: 2.2rem;
}
