.container{
  position: relative;
  width:100%;
}
.inputContainer{
  white-space:nowrap;
  padding: 1% 2%;
  overflow: hidden;
}
.inputContainer,.resultsContainer{
  background: white;
  position: relative;
  width: 100%;

}
.resultsContainer{
  margin-top: 0.4rem;
}
.atSymbol,.cancel{
  display: inline-block;
}
.atSymbol,.cancel{
  padding: 0.1rem;
  min-width: 2%;
}
.atSymbol:hover{
  color: #2980b9;
}
.cancel:hover{
  color: #c0392b;
}
.input{
  display: inline-block;
  min-width: 96%;
  max-width: 96%;
}
.input>input{
  outline: none;
  border: none;
  border-bottom: solid 2px #e3e3e3;
  border-radius: 0;
  transition: border-bottom 0.2s linear;
  width: 100%;
  padding-right: 3rem;
}
.input>input:focus{
  border-bottom: solid 2px #16a085;
}
.cancel{
  margin-left: -2rem;
}
.recent{
  border-bottom: solid 2px #16a085;
}
.fetched{
  color:black;
}
.ul li{
  min-height: 2.2rem;
  padding: 1.2rem;
  cursor: pointer;
}
li.active{
  background: #e3e3e3;
  cursor:pointer;
}
