.Location__box{
}
.Location__sec-transport{
  min-height: 3rem;
}
.Location__sec-elem--narrow{
  width: 2rem;
}
.Location__sec-elem--med{
  width: 2.5rem;
}
.Location__sec-elem--wide{
  width:95%;
}
.Location__sec-elem__circle{
  text-align: center;
  color: white;
  padding-top: 15%;
}
.Locaton__sec-elem__data{
  border: solid 1px;
}
.Location__sec-elem__grid{
  justify-content: flex-start;
}
