.Icon__thumbnail__box{
  /*makes container inline*/
  display: inline-flex;
  margin: 0 0.4rem;
  align-items: baseline;
}
.Icon__thumbnail__icon{
  margin-right: 0.3rem;
}
.Icon__thumbnail__data{

}
