.Profile__intro__box{
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
  padding: 2rem 1rem 0 1rem;
  align-items: center;
}
.Profile__img{
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
}
.Profile__btnGrp{
  display: flex;
  flex-flow: row wrap;
}
.Profile__btnGrp__btn{
  margin: 0 1rem;
  text-align: center;
  align-self: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.Profile__btnGrp__editBtn{
  text-decoration: underline;
}
.Profile__btnGrp__createTripBtn{
  background-color: #16a085;
  color: white;
}
.Profile__btnGrp__followBtn{
  background-color: #e74c3c;
  color: white;
}
.Profile__info{
  display: flex;
  flex-flow: row wrap;
}
.Profile__info__element{
  margin: 1rem;
  text-align: center;
}
.Profile__uname{
  margin: 1rem 0 0 0;
  color: #7f8c8d;
}

.Profile__data__none{
  display: flex;
  flex-flow: column;
}
.Profile__data__none__tagline {
  text-align: center;
  padding: 3rem 3rem 1rem 3rem;
  color: #16a085;
}