.Dropdown{
  /*min-width: 100%;*/
  padding: 0;
}
.Dropdown__query{
  width: 100%;
  border: solid 1px #e3e3e3;
  border-radius: 0.4rem;
  padding: 0 1rem;
}
.Dropdown__query__item{
}
.Dropdown__query__selected{
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
}
.Dropdown__query__item__selected-item{
  border: solid 2px rgba(52, 152, 219,0.5);
  padding: 0.3rem 1rem;
  margin: 0.1rem;
  border-radius: 0.2rem;
  color: rgba(52, 73, 94,1.0);
  cursor: pointer;
}
.Dropdown__query__item__selected-item__cancel{
  margin-left: 10px;
  border-left: solid 1px;
  padding: 0 10px;
}
.Dropdown__query__item__selected-item:hover{
  color:rgba(192, 57, 43,1.0);
  border-color:rgba(192, 57, 43,1.0);
}
.Dropdown__query__item__input{
  /*border-width:0 0 1px 0;*/
  border: 0;
  padding: 0.5rem 2.1rem 0.5rem 0.7rem;
  font-size: inherit;
  width: 100%;
}
.Dropdown__query__item__input:focus{
  outline: none;
  color: rgba(52, 152, 219,1.0);
}
.Dropdown__query__item__btn{
  margin-left: -2rem;
  font-size: 1rem;
}
.Dropdown__results{
  margin-top: 1.3rem;
  /*padding: 0 1rem;*/
  width: 100%;
  max-height: 10rem;
  overflow-y: scroll;
}
.Dropdown__results__elem,.Dropdown__results__elem--selected{
  padding: 1rem 2rem;
  background: #eeeeee;
  margin: 0.1rem 0;
  display: flex;
  flex-flow: row;
}
.Dropdown__results__elem:hover{
  cursor: pointer;
  background: rgba(26, 188, 156,0.4);
}
.Dropdown__results__elem--selected{
  background: rgba(26, 188, 156,1);
  color: white;
  cursor: pointer;
}

.Dropdown__results__elem__box{
  width:1rem;
  height: 1rem;
  border: solid 1px rgba(0,0,0,0.2);
  margin-left: auto;
}
