.Location-edit__box{
  /*display: flex;
  flex-flow: column wrap;*/
}
.Location-edit__header{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.Location-edit__body{
  padding: 2rem;
  border:solid 1px;
  border-left: none;
  border-right:none;
}
.Location-edit__imageGrid{
  flex-flow: row;
  overflow: scroll;
}
.Location-edit__body__location{
  display: flex;
  flex-flow: row wrap;
}
.Location-edit__body__location__elem{
  flex:1;
}
.Location-edit__imageGrid__elem{
  /*margin: 0 0.2rem;*/
  /*min-width: 30%;*/
  flex-shrink: 0;

  display: flex;
  flex-flow: column wrap;
  padding: 1rem;
  align-items: center;
  text-align: center;
}
