.GridList__box{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.GridList__box__element{
  border:solid 1px #e3e3e3;
  width: 100%;
  min-height: 15rem;
  margin-bottom: 1.5rem;
  align-content: center;
}
/*large screens*/
@media only screen  and (min-width : 1224px){
  .GridList__box{
    flex-flow: row wrap;
  }
  .GridList__box__element{
    margin:1rem;
    width: 26rem;
    border-radius: 0.71rem;
    padding: 0;
  }
}
