/*default behavior and defining layout classes*/
.Search__container{
  display: flex;
  flex-flow: column wrap;
  padding: 1rem;
  margin-top:1rem;
}
.Search__box{
  display: flex;
  flex-flow: row wrap;
  padding: 0.3rem;
  margin-bottom: 1rem;
}
.Search__results__box{
  display: flex;
  flex-flow: column wrap;
}
.Search__filters__box{
  display: flex;
  flex-flow: column wrap;
}
.Search__box__element{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.Search__filters__box__element{
  display: flex;
  flex-flow: row wrap;
  border: solid 1px #1abc9c;
  padding: 1rem;
  margin: 0.3rem;
}
.Search__box__element__child{
  flex:1;
}
.Search__filters__box__element__child{
  flex:1 0;
  margin: 0.2rem;
  padding: 0.4rem;
  /*give a fixed height to normalize all element children across boxes*/
  height: 2rem;
}
.Search__filters__box__element__child__label{
  flex:100% 0 0;
}
/*overrriding styles/properties*/
/*Layout behaviorial overrides*/
.Search__box__element--wide{
  flex: 9;
}
.Search__box__element--thin{
  flex:1;
}
.Search__box__element__child--wide{
  flex:9;
}
.Search__box__element__child--thin{
  flex:1;
}
/*
Applying specific styles at element level. Notice these classes do not have any flex properties and can't mutate layout.
This helps in maintainability
*/
.Search__box__input{
  padding: 1rem;
  border:0;
  background-color: #ecf0f1;
  color: black;
  font-size: medium;
}
.Search__box__input__enterBtn{
  background-color: #ecf0f1;
  font-size: medium;
  color:#3498db;
}
.Search__box__addFiltersBtn{
  color: #34495e;
}
.Search__box__addFiltersBtn:hover{
  color:#3498db;
}
/*overriding styles for external react component : react.select*/
.Select-control{
  border-radius: 0;
  height: 100%;
  margin:0;
}

/*media queries*/
/*large screen*/
@media only screen  and (min-width : 1224px) {
  .Search__filters__box{
    flex-flow: row wrap;
  }
}
