/* mobile first && flexbox design */
.Nav{
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  padding: 1rem;
  border-bottom: solid 1px #e3e3e3;
}
.Nav__brand{
  display: none;
}
.Nav__brand__img{
  width: 2rem;
  height: 2rem;
  border: soild 1px;
  border-radius: 50%;
  object-fit: cover;
}
.Nav__brand--box,
.Nav__items--box,
.Nav__buttons--box{
}
.Nav__items,
.Nav__buttons{
  display: flex;
  flex: 100%;
}
.Nav__items__item,
.Nav__buttons__btn{
  /* flex: 1 auto; */
  text-align: center;
}
.Nav__items__item--box,
.Nav__buttons__btn--box{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.Nav__items__item--box{
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0.1rem;
  margin-left: 0.1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: #2980b9;
}
.Nav__buttons__btn--box{
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  border: 1px solid;
  border-radius: 0.6rem;
}
.Nav__items__item__icons{
  font-size: 1.6rem;
  color: #BDC3C7;
}
.Nav__items__item__label{
  display: none;
}
.Nav__buttons__btn--colored{
  background-color: #f1c40f;
  border:0;
}

/*hovered and active states*/
.Nav__items__item--box:hover,
.Nav__buttons__btn--box:hover{
  color: #16a085;
}
.Nav__buttons__btn--colored:hover{
  background-color: #16a085;
  color: white;
}
.Nav__items__item--active,
.Nav__items__item__icons--active{
  color: black;
}

/*large screens*/
@media only screen  and (min-width : 1224px) {
  /*show nav brand*/
  .Nav__brand{
    display: block;
  }
  /*position nav items to the right with margin-left*/
  .Nav__items{
    flex: 0 0 auto;
    margin-left: auto;
  }
  .Nav__buttons{
    flex : 0 0 auto;
  }
  /*buttons are inline therefore remove margin-top*/
  .Nav__buttons__btn--box{
    margin-top: 0;
  }
  /*hide item icons*/
  .Nav__items__item__icons{
    display: none;
  }
  /*display item labels*/
  .Nav__items__item__label{
    display: block;
  }
}
