.TabNav__tabList__box{
  display: flex;
  flex-flow: row wrap;
  padding: 1rem;
}
/*large screens*/
@media only screen  and (min-width : 1224px){
  .TabNav__tabList__box{
    justify-content: center;
  }
}
